/* Write your CSS here */
.app-container {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.money-manager-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 10px;
  width: 100%;
  max-width: 1200px;
}

.bg-money-manager-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  min-height: 18vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px 0 40px 0;
}
.username {
  font-size: 28px;
  font-family: 'Roboto';
  color: #475569;
  font-weight: 600;
  text-align: center;
}
.para {
  font-size: 14px;
  font-family: 'Roboto';
  color: #475569;
  text-align: center;
}
.money-manager-text {
  font-weight: 600;
  color: #0b69ff;
}
.form-history-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}
.form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #cbd5e1;
  border-radius: 15px;
}
.sub-heading {
  font-size: 24px;
  font-family: 'Roboto';
  color: #475569;
  font-weight: 600;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}
.label {
  font-size: 14px;
  font-family: 'Roboto';
  color: #7e858e;
  font-weight: 500;
}
.input-title {
  margin: 5px 0;
  padding: 7px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Roboto';
  color: #000000;
}
.input-title::placeholder {
  font-size: 14px;
  font-family: 'Roboto';
  color: #7e858e;
}
.select-option {
  margin: 5px 0;
  padding: 7px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.option-text {
  font-size: 16px;
  font-family: 'Roboto';
  color: #000000;
  border: none;
  border-radius: none;
}
.add-button {
  margin: 15px 0 0 0;
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 7px 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.history-container {
  padding: 20px;
  border: 1px solid #cbd5e1;
  border-radius: 15px;
  width: 100%;
  margin: 20px 0;
}
.list-history-container {
  width: 100%;
}
.header-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #cbd5e1;
  padding: 0 12px;
  list-style-type: none;
}
.title-header {
  font-size: 16px;
  font-family: 'Roboto';
  color: #1e293b;
  font-weight: 600;
  margin: 10px 0;
  width: 30%;
}
@media screen and (min-width: 768px) {
  .money-manager-container {
    margin: 0;
  }
  .username {
    font-size: 40px;
    align-self: flex-start;
    margin: 0 30px;
  }
  .para {
    font-size: 18px;
    align-self: flex-start;
    margin: 20px 30px;
  }
  .money-manager-text {
    font-weight: 20px;
  }
  .form-history-container {
    flex-direction: row;
  }
  .form {
    width: 50%;
  }
  .history-container {
    height: 400px;
    margin: 20px 0 20px 20px;
  }
  .header-item {
    padding: 0 24px;
  }
}
